body {
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #656565;
}

.card {
    background-color: #b5c4b1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



.card h2 {
    margin: 0;
}