/* 定义字体 */
@font-face {
    font-family: 'PF_STD';
    src: url('../fonts/pf_std.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HP';
    src: url('../fonts/hp.ttf') format('truetype');
}

/* 全局样式 */
body {
    font-family: "PingFang SC", 'PF_STD', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #ececea;
}

/* 头部样式 */
header {
    background-color: #656565;
    color: #ececea;
    padding: 0.1rem 0;
    text-align: center;
}
header h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* 导航样式 */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #ececea;
    text-decoration: none;
}

/* 主内容样式 */
main {
    padding: 0 10%;
}

main section a {
    color: #656565;
}

main li {
    list-style-type: none;
}

/* 社交图标样式 */
.social-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li a {
    color: #000000;
}

.social-icons li a:hover {
    color: #656565;
}

/* 调整标题和段落的间距 */
h1, h2, h3, p {
    margin-top: 1em;
    margin-bottom: -0.5em;
}

/* Harry Potter 字体样式 */
.hp-font {
    font-family: 'HP', sans-serif;
}

.profile-container {
    display: flex;
    justify-content: space-between;
}


.profile-photo {
    float: left;
    margin-right: 20px;
    margin-top: 1.2em;
    max-width: 300px;
    max-height: 400px;
}

