body {
    font-family: Arial, Helvetica, sans-serif;
    /* 设置字体为 T 和 sans-serif */
    line-height: 1.6;
    /* 设置行高为 1.6 */
    margin: 0;
    /* 设置外边距为 0 */
    padding: 0;
    /* 设置内边距为 0 */
    background-color: #ececea;
    /* 设置背景颜色为 #ececea */
}

header {
    background-color: #656565;
    /* 设置背景颜色为 #656565 */
    color: #fff;
    /* 设置字体颜色为白色 */
    padding: 0.2rem 0;
    /* 设置上下内边距为 1rem */
    text-align: center;
    /* 设置文本居中对齐 */
}

header h1 {
    margin: 0;
    /* 设置外边距为 0 */
}

nav ul {
    list-style: none;
    /* 移除列表项的默认样式 */
    padding: 0;
    /* 设置内边距为 0 */
    text-align: center;
    /* 设置文本居中对齐 */
}

nav ul li {
    display: inline;
    /* 设置列表项为内联显示 */
    margin: 0 1rem;
    /* 设置左右外边距为 1rem */
}

nav ul li a {
    color: #fff;
    /* 设置链接颜色为白色 */
    text-decoration: none;
    /* 移除链接的下划线 */
}
main section a {
    color: #656565;
    /* text-decoration: none;
    移除链接的下划线 */
}

main {
    padding: 0 10%;

}

main li {

    list-style-type: none;
    /* 移除列表项的默认样式 */
}

main h2 {
    font-family: Arial, Helvetica, sans-serif
}

.social-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li a {
    color: #000000;
    /* 设置图标颜色 */
}

.social-icons li a:hover {
    color: #656565;
    /* 设置鼠标悬停时的颜色 */
}

/* Adjusting spacing between headings and paragraphs */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.2em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 1em;
}